@use '../../scss/colors' as *;
@use '../../scss/config' as *;

.header {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  padding: 0px 30px;

  @include tablet {
    min-height: 100px;
    padding: 0 40px;
  }
}
