@use '../../scss/colors.scss' as *;

.team {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topBranding {
  position: absolute;
  top: -60px;
  right: -50px;
}

.bottomBranding {
  position: absolute;
  bottom: -60px;
  left: -50px;
  transform: rotate(180deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 80px 0;
  font-weight: 800;
  font-size: 40px;
}

.adooTxt {
  color: var(--text-color);
  font-weight: 600;
}

.teamTxt {
  color: var(--primary-color);
  font-weight: 300;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 50px;

  h4 {
    margin: 7px 0;
    font-size: 24px;
  }

  p {
    margin: 0;
    font-size: 18px;
  }
}

.right {
  flex-direction: row-reverse;
  align-self: flex-end;
  color: green;

  h4 {
    text-align: end;
  }

  p {
    text-align: end;
  }
}

.avatarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  img {
    position: absolute;
    z-index: 10;
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.avRight {
  transform: rotate(180deg);

  img {
    transform: rotate(180deg);
  }
}

// .circle {
//   min-width: 130px;
//   height: 130px;
//   background: linear-gradient(50deg, #07545f -32%, #379752 101%);
//   border-radius: 50%;
// }

// .circle1 {
//   z-index: 10;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   img {
//     width: 125px;
//     height: 125px;
//     object-fit: cover;
//     border-radius: 50%;
//   }
// }

// .circle2 {
//   position: absolute;
//   color: red;
//   transform: translate(-25%);
//   opacity: .2;
// }

// .circleRight2 {
//   transform: translate(25%);
// }

// .circle3 {
//   position: absolute;
//   transform: translate(-50%);
//   opacity: .1;
// }

// .circleRight3 {
//   transform: translate(50%);
// }

.person {
  padding: 18px;
  color: var(--text-color);
  font-family: 'Indie Flower', cursive;

  h4 {
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
  }
  p {
    font-size: 17px;
  }
}

.bio {
  opacity: 0.4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 40px 0;
  font-weight: 100;
  font-family: 'Indie Flower', cursive;
  background: linear-gradient(50deg, #07545f -32%, #379752 101%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}