@use 'colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 14px;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--bg-color);
  transition: color 0.3s ease;

  button, a {
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    // font-family: 'Courier Prime', monospace;
    // font-family: 'Anka/Coder', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:disabled {
      opacity: .2;
      pointer-events: none;
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($default, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $default;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $default;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
