@use 'colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 14px;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--bg-color);
  transition: color 0.3s ease;

  button, a {
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    // font-family: 'Courier Prime', monospace;
    // font-family: 'Anka/Coder', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:disabled {
      opacity: .2;
      pointer-events: none;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
}

// ::-webkit-scrollbar-thumb:hover {
//   background-color: lighten($default, 10);
// }

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
