@use '../../scss/colors.scss' as *;

.footer {
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 0px 40px;
  padding-top: 10px
}

.bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}

