@use '~/styles/colors' as *;

footer {
  display: flex;
  height: 65px;
  padding-top: 10px;

  .bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .bar>.slogan {
    flex-direction: row;
  }

  .bar .ft_items {
    display: flex;
  }
}