@use '../../scss/colors.scss' as *;

.footer {
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 0px 40px;
  padding-top: 10px
}

.bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}

.slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;

  button {
    margin-left: 6px;
    font-family: 'Indie Flower', cursive;
  }
}

.name {
  font-weight: 600;
  opacity: .8;
}

.quote {
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
  opacity: .3;
}

.menu {
  display: flex;

  & > button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    white-space: nowrap;
    text-transform: uppercase;
    transition: all .4s ease;
  }
}

