@use '../scss/colors' as *;

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: 100%;

  header {
    position: relative;
  }

  main {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    height: 100%;

    .Content {
      position: relative;
    }
  }

  footer {
    position: relative;
  }
}